#container { }
#header {
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	height: 16%;
	outline: 3px solid black;
}
#links {
	position: absolute;
	bottom: 8px;
	left: 8px;
	height: 80%;
	width: 19%;
	outline: 3px solid black;
}
#main { 
	position: absolute;
	bottom: 8px;
	right: 8px;
	height: 80%;
	width: 79%;
	outline: 3px solid black;
}
table, th, td {
	text-align: center;
	border: 1px solid black;
	padding: 3px;
}
a {
	line-height: 200%;
	font-size: 200%;
}
