#container { }
#header {
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	height: 20%;
	outline: 3px solid black;
	text-align: center;
	background-color: #86b300;
}
#links {
	font-size: 200%;
	position: absolute;
	bottom: 8px;
	left: 8px;
	height: 75%; 
	width: 19%;
	outline: 3px solid black;
	background-color: #86b300;
}
#main { 
	position: absolute;
	bottom: 8px;
	right: 8px;
	height: 75%;
	width: 79%;
	outline: 3px solid black;
	background-color: #99cc00;
}
table {
	width: 100%;
	height: 100%;
	background-color: #669900;
}
th {	background-color: #86b300; }
td {	background-color: #99cc00; }
th, td {
	text-align: center;
	border: 1px solid black;
	padding: 3px;
}
a {
	line-height: 200%;
	color: black;
}
body {	background-color: #669900; }
